# =========================
# Node / General
# =========================
node_modules
dist
build
coverage
.nyc_output

# =========================
# Backend
# =========================
backend/node_modules
backend/dist
backend/build

# =========================
# Frontend (Next.js)
# =========================
frontend/node_modules
frontend/.next
frontend/out
frontend/.turbo

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# =========================
# Temporary files
# =========================
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# =========================
# Prisma
# =========================
generated/prisma
.vercel
